body {
    font-family: Arial;
    margin: 0;
    background: #f4f7f6;
}

nav {
    background: #2e7d32;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.hero {
    text-align: center;
    padding: 30px;
}

#map {
    height: 400px;
    width: 90%;
    margin: 20px auto;
    border-radius: 10px;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 25%;
    text-align: center;
}

.report-form {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.report-form input,
.report-form textarea {
    margin: 10px 0;
    padding: 10px;
}

button {
    padding: 10px;
    background: #2e7d32;
    color: white;
    border: none;
    cursor: pointer;
}
